# Data Wrangling with DataFrames Coding Quiz

Use this Jupyter notebook to find the answers to the quiz in the previous section. There is an answer key in the next part of the lesson.

In [31]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc, lower
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum

# TODOS: 
# 1) import any other libraries you might need
# 2) instantiate a Spark session 
# 3) read in the data set located at the path "data/sparkify_log_small.json"
# 4) write code to answer the quiz questions

import datetime
import pandas as pd
import numpy as np

spark = (SparkSession
         .builder
         .appName('Wrangling Data')
         .getOrCreate())

# Question 1

Which page did user id "" (empty string) NOT visit?

In [2]:
!ls data

sparkify_log_small.csv	sparkify_log_small.json

In [15]:
df = spark.read.json("data/sparkify_log_small.json")
df.describe()

DataFrame[summary: string, artist: string, auth: string, firstName: string, gender: string, itemInSession: string, lastName: string, length: string, level: string, location: string, method: string, page: string, registration: string, sessionId: string, song: string, status: string, ts: string, userAgent: string, userId: string]

In [26]:
df.head()

Row(artist='Showaddywaddy', auth='Logged In', firstName='Kenneth', gender='M', itemInSession=112, lastName='Matthews', length=232.93342, level='paid', location='Charlotte-Concord-Gastonia, NC-SC', method='PUT', page='NextSong', registration=1509380319284, sessionId=5132, song='Christmas Tears Will Fall', status=200, ts=1513720872284, userAgent='"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', userId='1046')

In [19]:
# TODO: write your code to answer question 1
df.where(df["userid"] == '').select('page').distinct().collect()

[Row(page='Home'), Row(page='About'), Row(page='Login'), Row(page='Help')]

# Question 2 - Reflect

What type of user does the empty string user id most likely refer to?

In [23]:
# TODO: use this space to explore the behavior of the user with an empty string
df.where(df["userid"] != '').select('page').distinct().collect()

[Row(page='Submit Downgrade'),
 Row(page='Home'),
 Row(page='Downgrade'),
 Row(page='Logout'),
 Row(page='Save Settings'),
 Row(page='About'),
 Row(page='Settings'),
 Row(page='NextSong'),
 Row(page='Help'),
 Row(page='Upgrade'),
 Row(page='Error'),
 Row(page='Submit Upgrade')]

The users were unregistered since compared to the registered ones, they never had a logout page nor a nextSong page.

# Question 3

How many female users do we have in the data set?

In [35]:
# TODO: write your code to answer question 3
unique_user_ids_wih_genders = df.select(['userid', 'gender']).dropDuplicates()
unique_user_ids_wih_genders.where(lower(df["gender"]) == 'f').count()

462

# Question 4

How many songs were played from the most played artist?

In [48]:
# TODO: write your code to answer question 4
df.groupBy('artist').count().sort(desc('count')).show(3)

+-------------+-----+
|       artist|count|
+-------------+-----+
|         null| 1653|
|     Coldplay|   83|
|Kings Of Leon|   69|
+-------------+-----+
only showing top 3 rows

In [54]:
df.where(df["artist"] == "Coldplay").select('song').count()

83

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [55]:
# TODO: write your code to answer question 5
df.select('userid').distinct().show()

+------+
|userid|
+------+
|  2904|
|   691|
|  2294|
|  2162|
|  1436|
|  2088|
|  2275|
|  2756|
|   800|
|  1394|
|   451|
|   926|
|  1746|
|  2696|
|  1280|
|   870|
|     7|
|  1903|
|   591|
|   613|
+------+
only showing top 20 rows

In [63]:
df.select(['userid', 'song', 'page']).where(df['userid'] == '1903').collect()

[Row(userid='1903', song=None, page='Home'),
 Row(userid='1903', song='Circle Of Life', page='NextSong'),
 Row(userid='1903', song="Your Mother's Here To Stay  (LP Version)", page='NextSong'),
 Row(userid='1903', song='Bottle And A Gun', page='NextSong'),
 Row(userid='1903', song='AtrÃ\x83Â©vete te te', page='NextSong'),
 Row(userid='1903', song='Never Gonna Give You Up', page='NextSong'),
 Row(userid='1903', song=None, page='Home')]

In [64]:
# unfinished